.popup__content {
    width: 430px;
    background-color: #fff;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: animate-rotate 0.3s linear;
}

@keyframes animate-rotate {
    from {
        transform: rotateY(-360deg);
        scale:0;
    }

    to {
        transform: rotateY(0deg);
        scale:1;
    }
}

@media screen and (max-width: 620px) {
    .popup__content {
        width: 282px;
    }
}