.author__edit {
    width: 22px;
    height: 22px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 7px;
    margin-left: 20px;
}

@media screen and (max-width:620px) {
    .author__edit {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        margin-top: 0;
    }

}